* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #850e0e;
}

body {
    background-image: url('../IMG/imgfundo3.jfif');
    /* Substitua pelo caminho da sua imagem */
    /* background-size: cover; */
    /* Ajusta a imagem para cobrir a tela */
    /* background-repeat: no-repeat; */
    /* Impede que a imagem se repita */
    /* background-attachment: fixed; */
    animation: bgAnim 10s ease infinite;
    color: #ff1c1c;
    
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding: 10vh;
}

/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #940000;
    color: white;
    padding-bottom:  20px;
    width: 220vh;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top:30px ;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img {
    height: 50px;
    width: auto;
}

.logo p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}


.logar {
    width: 40%;
    height: auto;
    color: #f2f2f2;

}

.menu-icon {
    display: none;
} */

h2 {
    font: 2em sans-serif;
    margin: 1vh;
}

h1 {
    font-size: 2.2rem;
    color: #ff1c1c;
    text-shadow: 0 0 10px #a38f8f;
}

/* Formulário */
form {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px #b6210777;
    width: 100%;
    max-width: 120vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Disciplinas organizadas em 3 linhas */
#disciplinas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* até 5 colunas */
    gap: 20px;
    /* espaçamento entre os itens */
    margin-top: 15px;
}

#disciplinas div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px #ff4d4d33;
}


label {
    font-weight: 500;
    margin-bottom: 5px;
}

select,
input[type="number"] {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #ffffff;
    color: #ff1c1c;
    outline: none;
    transition: 0.3s;
}

select:hover,
input:hover,
select:focus,
input:focus {
    background: #ffffff;
    /* vermelho mais intenso */
    box-shadow: 0 0 8px #ff4d4d;
    /* brilho vermelho */
}

/* Disciplinas */
#disciplinas>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.mandar {
    width: 50vh;
    align-self: center;
}

/* Botão */
button {
    background: linear-gradient(90deg, #fffafa, #b34e4e);
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 15px #b62107aa;
    color: #ff1c1c;
}

button:hover {
    background: linear-gradient(90deg, #d62828, #fd5000);
    box-shadow: 0 0 15px #ff4d4d99;
}


/* Resultado */
.resultado {
    align-self: center;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px #ff4d4d55;
    width: 100%;
    padding: 1vh;
}

.resultado h2 {
    color: #be2626;
    margin-bottom: 15px;
}

.resultado ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.containeres {
    align-self: center;

}


/* some como se fosse fumaça */
.fadeOutSmoke {
    animation: fadeOutSmoke 0.6s forwards;
}

@keyframes fadeOutSmoke {
    to {
        opacity: 0;
        filter: blur(15px);
        transform: scale(1.1);
    }
}

/* aparece suavemente como se viesse da fumaça */
.fadeInSmoke {
    animation: fadeInSmoke 0.6s forwards;
}

@keyframes fadeInSmoke {
    from {
        opacity: 0;
        filter: blur(15px);
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
}



/* Ações extras */
.acoes {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}