* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background: linear-gradient(135deg, #710000, #961515, #1f1919);
    background-size: 400% 400%;
    animation: bgAnim 10s ease infinite;
    color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@keyframes bgAnim {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px #400e08;
}

/* Formulário */
form {
    background: #872020b8;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px #43040482;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
}

select,
input[type="number"] {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #451c1c8a;
    color: #f0f0f0;
    outline: none;
    transition: 0.3s;
}

select:hover,
input:hover,
select:focus,
input:focus {
    background: #790303;
    box-shadow: 0 0 8px #00f6ff;
}

/* Disciplinas */
#disciplinas>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

/* Botão */
button {
    background: linear-gradient(90deg, #00f6ff, #0066ff);
    color: #fff;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(90deg, #0066ff, #00f6ff);
    box-shadow: 0 0 15px #00f6ffaa;
}

/* Resultado */
.resultado {
    margin-top: 30px;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px #00f6ff33;
    width: 100%;
    max-width: 700px;
}

.resultado h2 {
    color: #00f6ff;
    margin-bottom: 15px;
}

.resultado ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.acoes {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}